body {
    background: #17191C;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-page-wrapper {
    background: url("img/hero.png") left top no-repeat, url("img/bottom-pic.png") center bottom 306px no-repeat
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    position: relative;
    min-height: 129px;
    margin-bottom: 100px;
}

.logo,
.menu,
.contacts {
    position: absolute;
}

.logo {
    display: block;
    height: 46px;
    width: 198px;
    left: 0px;
    top: 21px;
}

.menu {
    top: 39px;
    left: 50%;
    transform: translateX(-49%);
}

.contacts {
    right: 0px;
    top: 31px;
    font-style: normal;
    text-align: right;
}

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
    display: block;
    line-height: 1;
}

.contacts__dropdown-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    color: #FF3D00;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF5400;
}

.main {
    margin-bottom: 25px;
}

.preview {
    text-align: center;
    margin-bottom: 233px;
}

.preview__title {
    width: 876px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    margin: 0 auto 17px;
}

.preview__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 43px;
}

.button {
    border: 1px solid transparent;
    background: #FF3D00;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 53px;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    background: #fff;
    border-color: #FF3D00;
    color: #FF3D00;
}

.button--line {
    background: #fff;
    border-color: #FF3D00;
    color: #FF3D00;
    transition: all .3s;
}

.button--line:hover {
    background: #FF3D00;
    color: #FFFFFF;
}

.options {
    margin-bottom: 180px;

}

.options__list {
    position: relative;
    display: inline-block;
}

.options__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 22.5px;
    min-height: 476px;
    width: 362px;
    background: #FFFFFF;
    border: 5px solid transparent;
    border-radius: 5px;
    padding: 36px 25px 43px 18px;
}

.options__item:last-child {
    margin-right: 0;
}

.options__item:hover {
    border-color: #ccc;
}

.options__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 17px;
    color: #000000;
}

.options__icon {
    width: 84px;
    height: 80px;
    padding-left: 6px;
    margin-bottom: 25px;
}

.options__img {
    max-width: 100%;
    max-height: 100%;
}

.options__terms-item {
    display: inline-block;
    width: 123px;
    margin-right: 55px;
    line-height: 20px;
    color: #666666;
}

.options__terms-item:last-child {
    margin-right: 0;
}

.options__terms {
    margin-bottom: 25px;
}

.options__terms-special {
    font-weight: 700;
    letter-spacing: 0px;
    color: #000000;
}

.options__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 29px;
    color: #666666;
}

.news {
    margin-bottom: 145px;
}

.news__item {
    width: 557px;
    display: inline-block;
    margin-right: 21px;
    vertical-align: top;
    position: relative;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item:last-child {
    margin-right: 0;
}

.news__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 21px;
    display: block;
}

.news__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 7px;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 50px 30px 30px;
    min-height: 130px;
}

.news__text {
    font-weight: 400;
    line-height: 21px;
}

.news__title {
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
    margin-bottom: 51px;
    text-transform: uppercase;
}

.news__list {
    margin-bottom: 50px;
}


.paginator {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.paginator__item,
.paginator__list,
.paginator__display {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 20px;
    margin-left: 8px;
}

.paginator__item {
    margin-right: -2px;
}

.paginator__link {
    display: inline-block;
    padding: 5.5px 11.4px;
    color: #FFFFFF;
    background: transparent;
    border-radius: 50%;
    transition: all .3s;
}

.paginator__link:hover {
    background-color: #FF5500;
}

.about__container:before {
    content: "";
    display: inline-block;
    width: 490px;
    height: 505px;
    background: url("img/cameraman.png") center center / cover no-repeat;
}

.about__content {
    display: inline-block;
    min-height: 455px;
    width: 785px;
    vertical-align: top;
    border-radius: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 70px 202px 64px 81px;
    line-height: 27px;
    color: #060606;
    margin-top: 97px;
    margin-left: -140px;
}

.about__title {
    margin-bottom: 37px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
    color: #000000;
}

.about__text {
    margin-bottom: 43px;
}

.about__buttom {
    border: 1px solid transparent;
    background: #FF3D00;
    border-radius: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 40px;
    cursor: pointer;
    transition: all .3s;
}

.about__buttom:hover {
    background: #fff;
    border-color: #FF3D00;
    color: #FF3D00;
}

.footer {
    position: relative;
    margin-top: 20px;
    padding: 40px 0px 68px 0px;
}

.footer__content {
    border-top: 1px solid #2e3032;
}

.footer__logo {
    top: 42px;
    left: 0px;
}

.footer__menu {
    top: 58px;
    left: 328px;
    transform: initial;
}

.footer__socials {
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 258px;
}

.footer__contacts {
    top: 48px;
    right: 0px;
}

.socials {
    display: inline-block;
}

.socials__item {
    display: inline-block;
    margin-right: 2.7px;
}

.contacts__text {
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 10px;
}